header{
    background-color: darkgray;
    padding: 20px 0;
}

.caja{
    width:940px;
    position: relative;
    margin: 0 auto;
}
.menu{
    position: absolute;
    top: 110px;
    right: 0;
}

.menu li{
    list-style: none;
    display: inline;
    margin: 0 0 0 15px;
}

.opcion{
    text-transform: uppercase;
    color:#000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.opcion:visited{
    color:#000;
}

.opcion:hover{
    color: #fff;
    text-decoration: underline;
}

.opcion:active{
    color: #fff;
}


main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

.etiqueta, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox{
    margin-top: 20px;
}

.enviar{
    width: 40%;
    margin-top: 20px;;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 0.8s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}


table{
    margin: 40px;
}
thead{
    background: #555;
    color: #fff;
    font-weight: bold;
}

td, th{
    border: 1px solid #000;
    padding: 8px 15px;
}


footer{
    background:url(../imagenes/bg.jpg);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.copyright{
    font-size: 14px;
    margin-top: 15px;
}