header{
    background-color: darkgray;
}

.menu li{
    list-style: none;
    display: inline;
    margin: 0 0 0 15px;
}

.menu a{
    text-transform: uppercase;
    color:#000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

