header{
    background-color: darkgray;
    padding: 20px 0;
}

.caja{
    width:940px;
    position: relative;
    margin: 0 auto;
}
.menu{
    position: absolute;
    top: 110px;
    right: 0;
}

.menu li{
    list-style: none;
    display: inline;
    margin: 0 0 0 15px;
}

.menu a{
    text-transform: uppercase;
    color:#000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

